{% extends 'base/base.html' %}
{% load static %}
{% block title %}Financiero{% endblock %}

{% block imports %}
    <style type="text/css">
        .square {
            border: 1px solid #ddd;
            border-radius: 10px;
            width: 10vw;
            height: 10vw;
            min-width: 120px;
            min-height: 120px;
            display: inline-block;
            margin: 20px 10px 20px 0;
        }
        .square h2 i{
            width: 100%;
        }
    </style>
{% endblock %}

{% block main_panel %}
    {% block section_title %}
        <a class="navbar-brand" href="{% url 'finantial:finantial_home' %}" style="border-right:1px solid #ddd">
            <i class="pe-7s-piggy"></i> Financiero
        </a>
    {% endblock %}
    {% block breadcrumbs %}
        <li><a href="{% url 'backend_home' %}">Inicio</a></li>
        <li class="active">Financiero</li>
    {% endblock %}

    {% block content%}
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <div class="header">
                                    <h2>
                                        <p class="category">Administrador</p>
                                        Módulo Financiero<br>
                                        <small>Cargar y consultar información financiera</small>
                                    </h2>
                                </div>
                            </div>
                            <div class="text-center col-xs-12 col-md-6">
                                <a class="btn btn-primary square" href="{% url 'finantial:load'%}">
                                    <h2><i class="fa fa-upload"></i></h2>
                                    <p>Cargar</p>
                                </a>
                                <a class="btn btn-primary square" href="{% url 'finantial:query'%}">
                                    <h2><i class="fa fa-search"></i></h2>
                                    <p>Consultar</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}

{% endblock %}
