{% extends 'base/base.html' %}
{% load static %}
{% block title %}Cargar reportes{% endblock %}

{% block imports %}
    <style type="text/css">
        .square {
            border: 1px solid #ddd;
            border-radius: 10px;
            width: 10vw;
            height: 10vw;
            min-width: 120px;
            min-height: 120px;
            display: inline-block;
            margin: 20px 10px 20px 0;
        }
        .square h2 i{
            width: 100%;
        }
    </style>
{% endblock %}

{% block main_panel %}
    {% block section_title %}
        <a class="navbar-brand" href="{% url 'cms:home' %}" style="border-right:1px solid #ddd">
            <i class="pe-7s-piggy"></i> Financiero
        </a>
    {% endblock %}
    {% block breadcrumbs %}
        <li><a href="{% url 'backend_home' %}">Inicio</a></li>
        <li><a href="{% url 'finantial:finantial_home' %}">Financiero</a></li>
        <li class="active">Cargar reportes</li>
    {% endblock %}

    {% block content%}
        <div class="container-fluid">
            <div class="row">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="col-md-3 col-xs-12" style="margin-bottom:20px;">
                            <a href="{% url 'finantial:finantial_home' %}" style="width:100%;" class="btn btn-danger btn-fill">
                                <i class="fa fa-chevron-left"></i> Volver
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="card">
                        <div class="header">
                            <h3>
                                <p class="category">Financiero</p>
                                Cargar reportes
                                <br>
                                <small>Cargar archivos CSV con reportes financieros</small>
                            </h3>
                        </div>
                        <div class="content">
                           <div>
                              <!-- Nav tabs -->
                              <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" {% if tab == 'clients'%}class="active"{% endif %}>
                                    <a href="#clients" aria-controls="home" role="tab" data-toggle="tab">Asociados</a>
                                </li>
                                <li role="presentation" {% if tab == 'pres'%}class="active"{% endif %}>
                                    <a href="#pres" aria-controls="home" role="tab" data-toggle="tab">Préstamos</a>
                                </li>
                                <li role="presentation" {% if tab == 'depo'%}class="active"{% endif %}>
                                    <a href="#depo" aria-controls="profile" role="tab" data-toggle="tab">Depósitos</a>
                                </li>
                              </ul>

                              <!-- Tab panes -->
                              <div class="tab-content">
                                <div role="tabpanel" class="tab-pane {% if tab == 'clients'%}active{% endif %}" id="clients">
                                    <h4>Cargar reportes de asociados</h4>
                                    <hr>
                                    {% if loaded_cli %}
                                         <div class="alert alert-success alert-dismissible fade" style="background:#3472F7">
                                            <button type="button" style="color:#000" class="close" data-dismiss="alert" aria-label="Close">
                                              <span aria-hidden="true">&times;</span>
                                            </button>
                                            <span style="">
                                                La información se ha cargado correctamente.
                                                <a class="btn btn-info btn-fill" href="{% url 'users:users_index' %}" style="color:white;margin-left:10px;">
                                                    Ver usuarios <i class="fa fa-chevron-right"></i>
                                                </a>
                                            </span>
                                        </div>
                                    {% endif %}
                                    <form action="{% url 'finantial:load_clients' %}" method="POST" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <input type="file" class="hidden" name="datafile" id="client-input"/>
                                        <span type="submit" class="open-btn btn btn-primary" data-control="#client-input">
                                            <i class="fa fa-upload"></i> Elegir archivo
                                        </span>
                                        <input type="submit" class="btn btn-primary btn-fill" value="Subir"/>
                                    </form>
                                </div>
                                <div role="tabpanel" class="tab-pane {% if tab == 'pres'%}active{% endif %}" id="pres">
                                    <h4>Cargar reportes de préstamos</h4>
                                    <hr>
                                    {% if loaded_cre %}
                                         <div class="alert alert-success alert-dismissible fade" style="background:#3472F7">
                                            <button type="button" style="color:#000" class="close" data-dismiss="alert" aria-label="Close">
                                              <span aria-hidden="true">&times;</span>
                                            </button>
                                            <span style="">
                                                La información se ha cargado correctamente.
                                                <a class="btn btn-info btn-fill" href="{% url 'users:users_index' %}" style="color:white;margin-left:10px;">
                                                    Ver usuarios <i class="fa fa-chevron-right"></i>
                                                </a>
                                            </span>
                                        </div>
                                    {% endif %}
                                    <form action="{% url 'finantial:load_credits' %}" method="POST" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <input type="file" class="hidden" name="datafile" id="credit-input"/>
                                        <span type="submit" class="open-btn btn btn-primary" data-control="#credit-input">
                                            <i class="fa fa-upload"></i> Elegir archivo
                                        </span>
                                        <input type="submit" class="btn btn-primary btn-fill" value="Subir"/>
                                    </form>
                                </div>
                                <div role="tabpanel" class="tab-pane {% if tab == 'depo'%}active{% endif %}" id="depo">
                                    <h4>Cargar reportes de depósitos</h4>
                                    <hr>
                                    {% if loaded_depo %}
                                         <div class="alert alert-success alert-dismissible fade" style="background:#3472F7">
                                            <button type="button" style="color:#000" class="close" data-dismiss="alert" aria-label="Close">
                                              <span aria-hidden="true">&times;</span>
                                            </button>
                                            <span style="">
                                                La información se ha cargado correctamente.
                                                <a class="btn btn-info btn-fill" href="{% url 'users:users_index' %}" style="color:white;margin-left:10px;">
                                                    Ver usuarios <i class="fa fa-chevron-right"></i>
                                                </a>
                                            </span>
                                        </div>
                                    {% endif %}
                                    <form action="{% url 'finantial:load_deposits' %}" method="POST" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <input type="file" class="hidden" name="datafile" id="deposit-input"/>
                                        <span type="submit" class="open-btn btn btn-primary" data-control="#deposit-input">
                                            <i class="fa fa-upload"></i> Elegir archivo
                                        </span>
                                        <input type="submit" class="btn btn-primary btn-fill" value="Subir"/>
                                    </form>
                                </div>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}

{% endblock %}

{% block js %}
    <script type="text/javascript">

    $(document).ready(function () {

        $(".alert").slideDown(1000, function(){
            $(this).fadeTo(1000, 1);
        });

        window.setTimeout(function() {
            $(".alert").fadeTo(1000, 0).slideUp(1000, function(){
                $(this).remove();
            });
        }, 5000);

        });

        $('.open-btn').click(function(){
            input = $(this).data('control');
            $(input).click();
        });

        $('input[type="file"]').change(function(){
            $('span[data-control="#'+$(this).attr('id')+'"]').html('<i class="fa fa-check"></i> Archivo listo')
            .removeClass('btn-primary').addClass('btn-success btn-fill')
        });
    </script>
{% endblock %}
