{% extends "clients_base.html" %}
{% load static %}
{% block title %}
    Cuenta
{% endblock %}
{% block imports %}
    <script type="text/javascript" src="{% static 'assets/js/fileinput.js' %}"></script>
{% endblock %}

    {% block main_panel %}
        {% block section_title %}
            <a class="navbar-brand" href="{% url 'clients:home' %}" style="border-right:1px solid #ddd">
                <i class="pe-7s-home"></i> Inicio
            </a>
        {% endblock %}
        {% block breadcrumbs %}
            <li><a href="{% url 'clients:home' %}">Inicio</a></li>
            <li><a href="{% url 'clients:account' %}">Cuenta</a></li>
            <li class="active">Cambiar contraseña</li>
        {% endblock %}
        {% block content%}
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-8">
                        <div class="card">
                            <div class="header">
                                <h3>
                                    {% if not editing %}
                                    <p class="category">Cuenta</p>
                                    Cambiar contraseña
                                    <br>
                                    <small>Actualice su contraseña</small>
                                    {% else %}
                                    <p class="category">Usuarios</p>
                                    Cambiar contraseña de usuario
                                    <br>
                                    <small>Cambiar la contraseña para el usuario {{site_user.first_name}} {{site_user.last_name}}</small>
                                    {% endif %}
                                </h3>
                            </div>
                            <div class="content">
                                {% if message %}
                                    <div class="alert alert-success alert-dismissible fade in">
                                        <button type="button" style="color:#000" class="close" data-dismiss="alert" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                        </button>
                                        {{message}}
                                    </div>
                                {% endif %}
                                <form action="." method="POST" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    {% for field in form %}
                                        <div class="form-group">
                                            <label>{{field.label}}</label>
                                            {% if field.errors %}
                                                <span class="text-danger">{{field.errors}}</span>
                                            {% endif %}
                                            {{field}}
                                        </div>
                                    {% endfor %}

                                    <p class="col-md-12" style="margin-top:20px;">
                                        <button type="submit" class="btn btn-success btn-fill pull-right">
                                            Guardar cambios
                                        </button>
                                    </p>
                                    <div class="clearfix"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                    {% if not editing %}
                    <div class="col-md-4">
                        <div class="card card-user">
                            <div class="image">
                                <img src="https://ununsplash.imgix.net/photo-1431578500526-4d9613015464?fit=crop&fm=jpg&h=300&q=75&w=400" alt="..."/>
                            </div>
                            <div class="content">
                                <div class="author">
                                    <img class="avatar border-gray" src="/media/{{user.avatar}}" alt="..."/>

                                    <h4 class="title">{{user.first_name}} {{user.last_name}}<br />
                                         <small>{{user.username}}</small>
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        {% endblock %}
    {% endblock %}

    {% block js %}
        <script src="{% static 'assets/js/bootstrap-checkbox-radio-switch.js' %}"></script>
        <script>
            $(document).ready(function(){
                $('input').addClass('form-control');
            });


        </script>
    {% endblock %}






