{% load static %}
{% load cms_tags %}
<div class="sidebar" data-color="green" data-image="{% static 'assets/img/sidebar-5.jpg' %}">

	<div class="sidebar-wrapper">
        <div class="logo" style="border:0">
            <a href="{% url 'backend_home' %}" class="simple-text">
                <img src="{% static 'assets/img/logo.png' %}" style="max-height:90px;">
            </a>
        </div>

        <ul class="nav">
            <li class="{% navactive request 'backend_home account update_password' %}">
                <a href="{% url 'backend_home' %}">
                    <i class="pe-7s-home"></i>
                    <p>Inicio</p>
                </a>
            </li>
            <li class="{% navactive request 'home posts_index new_post edit_post search_posts docs_index new_doc edit_doc search_docs' %}">
                <a href="{% url 'cms:home' %}">
                    <i class="pe-7s-news-paper"></i>
                    <p>CMS</p>
                </a>
            </li>
            <li>
                <a href="user.html">
                    <i class="pe-7s-piggy"></i>
                    <p>Financiero</p>
                </a>
            </li>
            <li class="{% navactive request 'users_index' %}">
                <a href="{% url 'users:users_index' %}">
                    <i class="pe-7s-users"></i>
                    <p>Usuarios</p>
                </a>
            </li>
            <li>
                <a href="table.html">
                    <i class="pe-7s-tools"></i>
                    <p>Configuración</p>
                </a>
            </li>
            <li>
                <a href="notifications.html">
                    <i class="pe-7s-help1"></i>
                    <p>Ayuda</p>
                </a>
            </li>
        </ul>
	</div>
</div>