.redactor-box{max-width: 100%;}
.redactor-toolbar{
    background: #505050;
    box-shadow: none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
}
.redactor-toolbar li a{color: #fff;}
.redactor-editor{
    border-color: #ddd;
    border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
}
.has-switch {
    height: 24px;
    margin-bottom: -5px;
    margin-left: 20px;
}

