{% extends 'index.html' %}
{% load static %}
{% load humanize %}
{% block title %}{{document.name}} - FORAVI{% endblock %}
{% block content %}
    <div class="col-sm-9">
        <h2 class="heading">
            <p class="category">Normatividad</p>
            {{document.name}}
        </h2>
        Publicado: <b>{{document.date|date:"d \d\e b \d\e\l Y"}}</b >
        <hr style="border:3px solid #156282;">
        <div class="post-content">
            <object data="/{{document.file}}" type="application/pdf" width="100%" height="100%" style="min-height:600px;">
                <p style="text-align:center;"><i style="font-size:60px;" class="fa fa-puzzle-piece"></i></p>
                <p style="text-align:justify;">Su navegador no dispone de ningún medio para ver este archivo. Puede descargarlo e intentar visualizarlo con otra herramienta. <a href="/{{document.file}}">Clic aquí para descargar</a></p>
            </object>
        </div>
        <hr style="border:3px solid #156282;">
        <div>
            <span style="font-size:20px;font-weight:bold;vertical-align:top;">Compartir este artículo en: </span>
            <div style="display:inline-block" class="addthis_sharing_toolbox">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="col-xs-12 col-sm-6">
                    <h4>Artículos relacionados</h4>
                    <hr>
                    <ul>
                        {% for relA in document.related_articles.all %}
                            <li><a href="{% url 'frontend:post' relA.slug %}">{{relA.title}}</a></li>
                        {% empty %}
                            {% for relB in document.posts.all%}
                            <li><a href="{% url 'frontend:post' relB.slug %}">{{relB.title}}</a></li>
                            {% empty %}
                            No se encontraron artículos
                            {% endfor %}
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <h4>Normas relacionadas</h4>
                    <hr>
                    <ul>
                        {% for relA in document.related_documents.all %}
                            <li><a href="{% url 'frontend:doc' relA.slug %}">{{relA.name}}</a></li>
                        {% empty %}
                            {% for relB in document.document_set.all %}
                            <li><a href="{% url 'frontend:doc' relB.slug %}">{{relB.name}}</a></li>
                            {% empty %}
                            No se encontraron normas
                            {% endfor %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h4>Comentarios <small>({{document.comment_set.all.count}} comentarios)</small></h4>
                <hr>
            </div>
            <div class="col-xs-12">
            {% if user.is_authenticated %}
                <div>
                    <form action="{% url 'frontend:send_comment' document.id %}" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <label>Dejar un comentario</label>
                            <textarea required name="comment" class="form-control" cols="30" rows="4" style="resize:none;"></textarea>
                        </div>
                        <div class="text-right">
                            <button class="btn col-xs-12 btn-primary">Comentar</button>
                        </div>
                    </form>
                </div>
                <div class="comments" style="padding-top:40px;">
                    {% for comment in document.comment_set.all %}
                        <div class="row comment" id="comment-{{comment.id}}">
                            <div class="col-xs-2 col-md-1 text-center" style="padding-right:0;">
                                <img class="img-circle" src="/{{comment.author.avatar}}" height="40px">
                            </div>
                            <div class="col-xs-10 content" style="text-align:justify;">
                                <b>{{comment.author.first_name}} {{comment.author.last_name}}.</b>
                                <span class="edit_area" data-id="{{comment.id}}">{{comment.message}}</span>

                                <p style="margin-top:5px;">
                                    <small>
                                        {{comment.date|naturalday}} a las {{comment.date|date:"h:i a"}}
                                    </small>
                                    <small class="comment-actions">
                                        {% if user = comment.author %}
                                            <button data-url="{% url 'frontend:edit_comment' comment.id %}" class="edit-button btn btn-link">
                                                <i class="fa fa-pencil"></i> Editar
                                            </button>
                                            <a class="btn btn-link" href="{% url 'frontend:remove_comment' comment.id %}">
                                                <i class="fa fa-trash"></i> Eliminar
                                            </a>
                                        {% elif user.is_superuser or user.is_staff %}
                                            <a href="{% url 'frontend:remove_comment' comment.id %}">
                                                <i class="fa fa-trash"></i> Eliminar
                                            </a>
                                        {% endif %}
                                    </small>
                                </p>
                            </div>
                        </div>
                        <hr>
                    {% endfor %}
                </div>
            {% else %}
                <div class="text-center">
                    <p>
                        Para comentar y leer los comentarios debes
                        <a href="{% url 'backend_login' %}">iniciar sesión</a>
                    </p>
                </div>
            {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static 'frontend/js/editable-fields.js' %}"></script>
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-52f06b8440ed79f8" async="async"></script>
    <script type="text/javascript">
        $('.edit-button').click(function(event){
            event.preventDefault();
            setEditable($(this), '{{csrf_token}}');
        });
    </script>
{% endblock %}