{% load static %}
<div style="width:80%;min-width:600px;margin:10%">
    <div style="verical-align:middle;">
        <img src="{% static 'assets/img/mail_header.png' %}" height="60px" alt="Logo FORAVI"/>
    </div>
    <hr style="border: 1px solid #ddd">
    <div>
        <p>Se ha registrado un mensaje a través del sitio web:</p>
        <p><i>{{message}}</i></p>
        <p>
            A continuación se detalla la información de contacto del visitante:
            <div style="padding-left:20px">
                <b>Nombre:</b> {{name}} <br>
                <b>Teléfono:</b> {{phone}} <br>
                <b>Email:</b> {{mail}} <br>
            </div>
        </p>
    </div>
</div>